html, body {
	margin: 0;
}

.movement,
#bomb {
	position: absolute;
	width: 50%;
	height: 100%;
}

#bomb {
	right: 0;
	background: black;
}

.control {
	text-align: center;
	line-height: 100%;
}

.control:not(#bomb) {
	position: absolute;
	background: black;
	width: 30%;
	height: 30%;
	line-height: 30%;
}

#up {
	top: 0;
	left: 35%;
}

#left {
	left: 0;
	top: 35%;
}

#right {
	right: 0;
	top: 35%;
}

#down {
	bottom: 0;
	left: 35%;
}