* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
	margin: 0;
	font-family: 'Helvetica Neue';
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9001;
	background: white;
}

.loading h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 550px;
	margin: -100px 0 0 -275px;
	line-height: 100px;
	text-align: center;
	font-size: 50px;
}

.movement,
#bomb {
	position: absolute;
	width: 60%;
	height: 100%;
}

#bomb {
	width: 40%;
	right: 0;
	background: black;
}

.control {
	text-align: center;
	line-height: 100%;
}

.control:not(#bomb) {
	position: absolute;
	background: black;
	width: 30%;
	height: 30%;
	line-height: 30%;
}

#up {
	top: 0;
	left: 35%;
}

#left {
	left: 0;
	top: 35%;
}

#right {
	right: 0;
	top: 35%;
}

#down {
	bottom: 0;
	left: 35%;
}